body {
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: 0;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: mediumspringgreen;
}

.section1 {
  border: 2px solid black;
  padding: 20px;
  margin: 0;
}

.output {
  background-color: aquamarine;
  padding: 10px;
  margin: 10px;
}